AZURE_OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxx
AZURE_OPENAI_ENDPOINT=xxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_VERSION=xxxxxxxxxxxxxxxxxxx
AZURE_OPENAI_DEPLOYMENT_NAME=xxxxxxxxxxxxx


LANGFUSE_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxx
LANGFUSE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxx
LANGFUSE_BASE_URL=http://localhost:3000

AZURE_EMBEDDING_ENDPOINT="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AZURE_EMBEDDING_API_KEY="xxxxxxxxxxxxxxxxxx"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-3-small"
AZURE_OPENAI_API_VERSION="2023-05-15"

HF_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"


NEO4J_URI="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
NEO4J_USER="xxxxxxxxxxxx"
NEO4J_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
 

INCIDENTS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx